body {
  background-color: darksalmon;
 
}

.heading {
  text-align: center;
  font-family: Arial, sans-serif
}

.font {
  font-size: 10px;
  
}

.input {
  text-align: center;
  display: block;
  margin-left: 25%;
  margin-right: 20%;
  margin-top:auto;
  width: 50%;
  border-style: solid;
  border-radius: 10px;
}

.text-input {
  position: relative;
  top: 15px;
  margin-left: 12%;
}

.stext-input {
  margin-left: 12%;
}

div {
  margin: 0 auto;
  background-color: yellowgreen;
  border: 2px solid;
  border-radius: 20px;
}

.submit {
  margin-left: 25%;
  margin-bottom: 10px;
  margin-top: 50px;
  width: 50%;
  border: 2px solid darkgray;
  border-radius: 20px;
}