.heading {
  text-align: center;
  font-size: 28px;
  border: solid;
  border-color: red;
  margin-top: 0%;
  font-style: helvetica;
}

body {
  background-color: skyblue;
}

.myform {
  background-color: yellowgreen;
  border: 2px solid darkgrey;
}

